<form
	[formGroup]="form"
	class="form-group form-group__modal flex-column">
    <div class="mat-title">{{ TEMPLATE_TEXT.editCategory }}</div>

    <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ TEMPLATE_TEXT.categoryName }}</mat-label>
        <input type="text" matInput formControlName="name" [placeholder]="TEMPLATE_TEXT.categoryName">
    </mat-form-field>
    <ui-button
		type="submit"
		[disabled]="form.invalid"
		[label]="TEMPLATE_TEXT.update"
		(buttonClick)="updateCategory()"
	></ui-button>
</form>
