:host {
	.spinner-container {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;

		.spinner__background {
			position: absolute;
			background-color: var(--color-black);
			opacity: .3;
		}
	}
}
