<form
	class="form-group form-group__auth form-group__auth_login"
>

    <div class="mat-title mat-title__auth">Log In</div>
    <!-- <mat-error *ngIf="!isValidate.status">{{isValidate.message}}</mat-error> -->
    <mat-form-field class="form-group__login_email" color="accent" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
    </mat-form-field>

    <mat-form-field class="form-group__login_password" color="accent" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" placeholder="Password">
    </mat-form-field>

    <button type="submit" mat-raised-button color="accent">Log In</button>

</form>
