<form
	[formGroup]="form"
	class="form-group form-group__modal flex-column">
    <div class="mat-title">{{ TEMPLATE_TEXT.editTask }}</div>

    <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ TEMPLATE_TEXT.taskName }}</mat-label>
        <input matInput formControlName="name" placeholder="Create app">
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ TEMPLATE_TEXT.deadline }}</mat-label>
        <input matInput formControlName="deadline" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field color="accent" appearance="outline">
        <mat-label>{{ TEMPLATE_TEXT.category }}</mat-label>
        <mat-select formControlName="category">
            <mat-option>{{ TEMPLATE_TEXT.nothing }}</mat-option>
            <mat-option *ngFor="let category of categories$ | async" value={{category.name}}>{{category.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox class="mbottom-20" formControlName="priority">Priority?</mat-checkbox>

    <button type="submit" class="btn-accent" mat-raised-button [disabled]="form.invalid" (click)="updateTask()">{{ TEMPLATE_TEXT.update }}</button>
</form>
